bode {
    font-family: "Roboto";
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    padding: 21px 0 21px;
    background: white;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nig {
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    display: block;
    color: black;
    font-weight: 300;
    font-size: 18px;
}

.main {
    padding: 66px 0 0 78px;
    background: black;
}

.title {
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.desc {
    margin: 10px 0 0 px;
    font-weight: 300;
    font-size: 30px;
    color: aliceblue;
}